.footerWrap {
    background-color: #f2f3f5;
    padding-top: 80px;
    padding-bottom: 104px;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerHeadline {
            margin-bottom: 24px;
            margin-bottom: 24px;
            color: #81879c;
            line-height: 18px;
            letter-spacing: 0.4px;
            font-weight: 600;
        }
        .copyrightText {
            margin-bottom: 4px;
            color: #b3b7c4;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.4px;
        }
    }
}
