.landingWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 80%;
    }
    .text {
        color: #0d1531;
        line-height: 58px;
        text-align: center;
        font-weight: 700;
        letter-spacing: -0.4px;
        margin-bottom: 48px;
    }
    .btnApply {
        padding: 16px 40px;
        margin-bottom: 60px;
    }
}
