.menus {
    .header {
        button {
            margin-left: 8px;
        }
    }
    .footer {
        button {
            margin: 0;
            color: #b3b7c4;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.4px;
            padding: 2px 4px;
        }
    }
    .language {
        button {
            box-shadow: none;
            background-color: transparent;
            background-image: none;
            margin: 0;
            background-color: transparent;
            letter-spacing: 0.4px;
            padding: 2px 4px;
            width: 60px;
            height: 40px;
            &.active {
                svg {
                    border: 2px solid #0d38ff;
                    border-radius: 4px;
                    padding: 2px;
                }
            }
        }
    }
}
