body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.MuiButton-contained.MuiButton-containedPrimary.MuiButton-containe.MuiButton-containedPrimary {
}
